{# layout.html.twig: pour structurer mon bundle#}
{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - Mini Blog Khairy{% endblock %}
{% block body %}

    <h1>Mini Blog</h1>

    {% block miniblog_body %}{% endblock %}

{% endblock %}

